@font-face
  font-family "ProximaExtraBold"
  src url("./fonts/proximanova-extrabold.otf")
@font-face
  font-family "ProximaRegular"
  src url("./fonts/proximanova-regular.otf")
@font-face
  font-family "ProximaSemiBold"
  src url("./fonts/proximanova-semibold.otf")
@font-face
  font-family "NexaBold"
  src url("./fonts/nexa-bold.otf")

$font-prox-400 = "ProximaRegular", sans-serif;
$font-prox-600 = "ProximaSemiBold", sans-serif;
$font-prox-800 = "ProximaExtraBold", sans-serif;
$font-nexa = "NexaBold", sans-serif;

$col-white = #ffffff
$col-black-11 = #111
$col-black-55 = #555
$col-black-77 = #777
$col-orangehover = #ff9900
$col-lightwhite = #f7f7f7
$col-bordergray = #cccccc